$def with (query, results)
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>FaceShot Query</title>
  <link rel="stylesheet" type="text/css" href="static/face_shots.css">
  <script src="static/jquery-2.1.3.min.js"></script>
  <script language="javascript">
    function showWiki(wikiUrl) { jQuery('#wiki').attr('src', wikiUrl); }
    function showVideo(videoUrl) { jQuery('#video').attr('src', videoUrl); }
  </script>
</head>
<body>
<form name="query" method="get">
  <p>Enter a Solr query to search the Face DB collection<br>
  <a href="https://lucene.apache.org/core/2_9_4/queryparsersyntax.html" target="_blank">https://lucene.apache.org/core/2_9_4/queryparsersyntax.html</a></p>

  <p><input id="query" name="query" type="text" value="$:query" style="width: 500px;"> <input type="submit"></p>
</form>
<p>$:results</p>
<iframe id="video" name="video"></iframe>
<iframe id="wiki" name="wiki"></iframe>
</body>
</html>