body {
    min-width: 800px;
}

p {
    margin: 25px;
}

a {
    margin-left: 10px;
    margin-right: 10px;
}

#query {
    max-width: calc(100% - 300px);
    min-width: 380px;
}

#video {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 240px;
    height: 180px;
    border: none;
    max-width: calc(100% - 500px);
}

#wiki {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 600px;
    border: none;
    height: calc(100% - 260px);
    width: calc(100% - 500px);
}
