body {
    overflow: hidden;
}

p {
    margin: 25px;
}

#main {
    width: 100%;
    height: 100%;
}

#search {
    position: absolute;
    left: 20px;
    top: 20px;
    width: 300px;
    height: 100%;
}

#content {
    position: absolute;
    left: 340px;
    top: 20px;
    height: calc(100% - 40px);
    min-height: 400px;
    width: calc(100% - 360px);
    min-width: 640px;
}

#prompt {
    margin: 20px;
    text-align: center;
}

#query {
    width: 230px;
}

#results {
    position: absolute;
    left: 0px;
    top: 150px;
    width: 300px;
    height: calc(100% - 180px);
    min-height: 200px;
    overflow-y: auto;
}

.result {
    margin-left: 10px;
}

#image {
    left: 0px;
    top: 0px;
    float: left;
    height: 100px;
    width: 100px;
    border: none;
    margin: 25px;
    vertical-align: middle;
}

#name {
    left: 140px;
    top: 0px;
    font-size: xx-large;
    margin: 25px;
}

.link_image {
    height: 40px;
    width: 40px;
    margin: 10px;
}

#find_links {
    position: absolute;
    right: 0px;
    top: 40px;
    height: 100%;
}

.find_link {
    margin: 25px;
    font-size: large;
}

#media {
    position: absolute;
    right: 0px;
    bottom: 0px;
    border: none;
    width: 100%;
    height: calc(100% - 150px);
}

#content_list {
    height: 100%;
    overflow-y:auto;
}

.tweet {
    margin: 25px;
    margin-top: 30px;
}

#tweet_profile_image {
    float: left;
    margin: 10px;
    width: 48px;
    height: 48px;
}

#tweet_name {
}

#tweet_screen_name {
}

#tweet_created_at {
}

#tweet_text {
    margin-top: 20px;
}

.play_button{
    float: left;
}

.video {
    margin: 25px;
}

.video_img {
    border: none;
    height: 200px;
    overflow: hidden;
}
